/* * {
    border: 3px red solid;
} */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 400px;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    gap: 15px;
    height: inherit;
}

#scoreboard {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    font-size: 50px;
}

.report {
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    /* padding: 0px; */
}

p#description {
    text-align: center;
    font-size: 20px;
    margin: 0px
}

p#result{
    text-align: center;
    font-size: 36px;
    margin: 0px
}

.items {
    border: grey solid 2px;
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 5px;
}

img {
    width: 40px;
    height: 40px;
}

.choice {
    border-radius: 20px;
    background-color: antiquewhite;
    border: solid grey 1px;
}